 <!DOCTYPE html>
    <html lang="pt-BR">
      <head>
        <meta charset="utf-8">   
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sobre mim</title>      
        <link rel= "stylesheet" href= "Bootstrap-3.3.2-dist/css/Bootstrap.min.css" > 
        <link rel= "stylesheet" href= "Bootstrap-3.3.2-dist/css/Bootstrap-theme.min.css" > 
      <body>
          <h1>Julie Santiago</h1>    
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
           <script src= "Bootstrap-3.3.2-dist/js/Bootstrap.min.js" ></script>
      </body>
  </html>